.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.hero-content {
  position: relative;
  z-index: 3;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: white;
}

.hero-content h1 {
  font-size: 4rem;
  font-weight:700;
  margin-bottom: 15px;
  text-shadow: 0 4px 10px rgba(0,0,0,0.6);
   max-width: 700px;
}

.hero-content p {
  font-size: 1.4rem;
  max-width: 700px;
  text-shadow: 0 4px 10px rgba(0,0,0,0.6);
}

.hero-content button {
  margin-top: 25px;
  padding: 12px 32px;
  font-size: 1.1rem;
  border: none;
  background: #e50914;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.hero-content button:hover {
  background: #b00610;
}
