/* ======================
   WRAPPER
====================== */
.cta-wrapper {
  width: 100%;
  display: flex;
  gap: 24px;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  padding: 24px 0;
}

/* ======================
   BUTTON – COMMON
====================== */
.cta-button {
  flex: 1;
  height: 140px;
  border: none;
  border-radius: 8px;
  font-size: 34px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 48px;
  cursor: pointer;
  transition: all 0.25s ease;
}

/* ======================
   TEXT
====================== */
.cta-text {
  display: flex;
  align-items: center;
}

/* ======================
   LIGHT BUTTON
====================== */
.cta-light {
  background-color: #e6e6e6;
  color: #111;
}

/* ======================
   DARK BUTTON
====================== */
.cta-dark {
  background-color: #1f2424;
  color: #ffffff;
}

/* ======================
   ARROW
====================== */
.cta-arrow {
  font-size: 36px;
  font-weight: 300;
  line-height: 1;
}

/* ======================
   INTERACTION
====================== */
.cta-button:hover {
  opacity: 0.95;
}

.cta-button:active {
  transform: scale(0.98);
}

/* ======================
   MOBILE – SOLID BUTTONS
====================== */
@media (max-width: 768px) {
  .cta-wrapper {
    flex-direction: column;
    gap: 16px;
    padding: 20px 20px;
  }

  .cta-button {
    height: 72px;
    font-size: 16px;
    padding: 20px  20px;
    /* border-radius: 12px; */
  }

  .cta-arrow {
    font-size: 28px;
  }
}

/* ======================
   SMALL MOBILE
====================== */
@media (max-width: 480px) {
  .cta-button {
    height: 124px;
    font-size: 15px;
    padding: 18px 18px;
   
  }

  .cta-arrow {
    font-size: 17px;
  }
}
