/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ===== NAVBAR ===== */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 72px;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(24px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 45px;
  z-index: 1000;
  transition: all 0.3s ease;
}

/* SCROLL STATE */
.navbar.scrolled {
  background: #ffffff;
  backdrop-filter: none;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}

/* LEFT */
.nav-left img {
  height: 40px;
  cursor: pointer;
}

/* DESKTOP MENU */
.nav-links {
  display: flex;
  gap: 34px;
}

.dropdown {
  position: relative;
}

.dropdown-title,
.nav-link {
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  padding: 6px 0;
}

/* TEXT COLOR ON SCROLL */
.navbar.scrolled .dropdown-title,
.navbar.scrolled .nav-link {
  color: #000000;
}

/* HOVER */
.dropdown-title:hover,
.nav-link:hover {
  color: #ff0000;
}

/* DROPDOWN */
.dropdown-menu {
  position: absolute;
  top: 130%;
  left: 0;
  background: #ffffff;
  min-width: 220px;
  border-radius: 14px;
  padding: 10px 0;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.4);
}

.dropdown-menu a {
  display: block;
  padding: 10px 22px;
  font-size: 14px;
  color: #111;
}

.dropdown-menu a:hover {
  background: rgba(255, 0, 0, 0.08);
  color: #ff0000;
}

/* RIGHT */
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-btn {
  background: hsl(0, 97%, 49%);
  color: #ffffff;
  padding: 10px 22px;
  border-radius: 15px 0px 15px 0px ;
  font-size: 14px;
  font-weight: 600;
}

/* HAMBURGER */
.menu-btn {
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  color: #000;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 900px) {
  .nav-links {
    display: none;
  }

  .contact-btn {
    display: none;
  }

  .menu-btn {
    display: block;
  }
}

/* MOBILE NAV */
.mobile-nav-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2000;
}

.mobile-nav {
  width: 100%;
  height: 100%;
  background: #ffffff;
  padding: 26px;
}

.mobile-header {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
}

.mobile-menu {
  margin-top: 30px;
}

.mobile-item {
  padding: 16px 0;
  border-bottom: 1px solid #eee;
}

.mobile-title,
.mobile-item a {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.mobile-dropdown {
  padding-left: 18px;
  margin-top: 10px;
}

.mobile-dropdown a {
  display: block;
  padding: 8px 0;
  font-size: 15px;
}
